// Here you can add other styles
.policyaddicon {
  color: #01ca66;
}

.tab-pane {
  height: 72vh;
  overflow: auto;
}

@media (max-width: 991.98px) {
  .mobile-display {
    margin: 170px 12px 23px 13px;
  }
}

.resetsucmsg {
  color: #08a308;
  font-size: 20px;
  font-weight: 600;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
.error {
  position: relative;
  padding: 0.75rem 1.25rem;
  /* size: 40px; */
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  /* background-color: #ca0101; */
  color: #ba1010;
  background-color: #eba8ae;
  border-color: #f5c6cb;
}
.btn-red-cross {
  font-weight: 400;
  color: #dd1313;
  text-decoration: none;
  float: right;
  padding: 0 0 0 0;
  font-size: large;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
