// Variable overrides
// New color
$new-primary: #538ad6;
$new-light: #f7f7ff;
$new-dark: #173753;

// Array of colors from _variables.scss
$theme-colors: (
  primary: $new-primary,
  //   secondary: $gray-600,
    //   success: $green,
    //   info: $cyan,
    //   warning: $yellow,
    //   danger: $red,
    light: $new-light,
  dark: $new-dark
) !default;
