.default-msg {
  margin-bottom: 15px;
}
.default-no-state {
  align-content: center;
  color: hsl(14, 100%, 53%);
  font-family: serif;
  font-size: x-large;
  text-align: center;
  margin-top: -44px;
}
.default-state {
  align-content: center;
  color: #2a63b2;
  font-family: serif;
  font-size: x-large;
  text-align: center;
  margin-top: -44px;
}
