.selected-options {
  height: calc(1.5em + 0.75rem + 2px) !important;
  border: 1px solid #e4e7ea !important;
}

.multi-select .arrow {
  margin: auto;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  /*margin: 0 5px;*/
  display: inline-block;
  cursor: pointer;
  /* float: right; */
  margin-top: 7px;
}

.multi-select .options.show {
  display: block;
}

.multi-select .options {
  height: 200px;
  z-index: 10001;
  overflow-x: auto;
  background-color: #fff;
  position: absolute;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  /* width: inherit; */
  padding: 0;
  display: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.options li {
  display: block;
  font-size: 16px;
}

.options li .option-list {
  cursor: default;
  margin-bottom: 2px;
  text-transform: capitalize;
  /*border-bottom: solid 2px #fff;*/
  padding: 2px 5px;
}

.multi-select .bg-color-blue {
  background-color: cornflowerblue;
  color: #fff;
}

.multi-select .selected-options {
  vertical-align: middle;
  height: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 0px 5px 10px;
  width: inherit;
  /*padding: 0 0 0 10px;*/
}

.multi-select .selected-options .selected-options-badges-list {
  font-weight: 400;
  margin: 0;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 20px);
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  /* float: left; */
  /*width: calc(100% - 30px);*/
  /*padding: 2px 0;*/
  /*line-height: 1.4;*/
}

.multi-select .selected-options .selected-options-badges:after {
  content: '×';
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
}

.multi-select {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  outline: none;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  /*height: 28px;*/
}

.multi-select .selected-options-badges {
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 5px 0 0;
  border: solid 1px #ddd;
  display: inline-block;
}
