.scroll-sm::-webkit-scrollbar-track {
  display: none;
}

.scroll-sm::-webkit-scrollbar {
  width: 3px;
}

.scroll-sm::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8f8f8f;
}

.list-group-item {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}
.f11 {
  font-size: 1em;
}

.MuiAppBar-root {
  width: 100%;
  display: flex;
  z-index: 0 !important;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
}
