.MuiIconButton-colorInherit {
  background-color: white;
  color: rgb(40, 156, 213) !important;
}

.MuiTableCell-root {
  box-sizing: border-box !important ;
  width: calc((100% - 0px) / 12) !important;
}
