.badge-pill {
  padding-right: 1em;
  padding-left: 1em;
}
.scroll-sm::-webkit-scrollbar-track {
  display: none;
}

.scroll-sm::-webkit-scrollbar {
  width: 3px;
}

.scroll-sm::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8f8f8f;
}

.list-group-item-sidebar {
  background: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.list-group-item {
  border: none;
}

.f11 {
  font-size: 1em;
}

.MuiFormControl-root {
  display: flex !important;
}
