.form-list {
  cursor: default;
}
.form-list:hover {
  background: rgba(0, 0, 0, 0.05);
}
/* .modal-dialog {
  max-width: 60%;
} */
.delete {
  position: absolute;
  right: 0.5%;
  font-size: 1em;
  display: none;
}
